body{
    margin:0;
    padding:0;
    font-family: League Spartan;
}
.parent{
    background-color:white;
    width:80%;
    margin:40px auto;

}
.first{
    display:flex;
    gap:20px;
    margin-bottom: 40px;
    

}
.users{
    width:50%;

}
.users h1{
    color:  hsl(300, 43%, 22%);
    width:43%;
    font-weight:700;
}
.users p{
    color:   hsl(303, 10%, 53%);
    width:70%;
    font-weight:400;
}
.ratings{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 50%;

}
.three{
    display:flex;
    gap:20px;
    align-items: center;
    background-color:  hsl(300, 24%, 96%);
    padding: 15px;
    border-radius: 8px;
}
.five{
    color:hsl(300, 43%, 22%);
    font-weight: 500;
}
#first-rating{
    position:relative;
    right:20px;
}
#last-rating{
    position:relative;
    left:20px;
}
.second{
    display:flex;
    gap:30px;
    color:white;
}
.profiles{
    display:flex;
    flex-direction: column;
    background-color:hsl(300, 43%, 22%) ;
    padding: 10px;
    border-radius: 8px;
    
}
.image-profile{
    display:flex;
    gap:10px;
    
   
   
}
.span{
    display:flex;
    flex-direction: column;
    align-items: center;

}
.proimg img{
    width:60%;
    border-radius: 100%;
}
.first-profile{
    position:relative;
    bottom:15px;
}
.last-profile{
    position: relative;
    top:15px;
}
#spanny{
    color: hsl(333, 80%, 67%);
}